@import url("https://fonts.googleapis.com/css2?family=Gidugu&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Gidugu", sans-serif;
  font-size: 28px;
}

body button {
  font-family: "Gidugu", sans-serif;
  min-width: 150px;
  font-size: 100%;
}

body #highScoresContainer {
  width: 50%;
  margin: 0 auto;
  display: none;
}

body #highScoresContainer ol li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body #highScoresContainer ol li p {
  min-width: 50px;
  text-align: center;
}

body #highScoresContainer ol li:nth-child(1) {
  text-align: center;
}

body #highScoresContainer li:nth-child(even) {
  background-color: whitesmoke;
}

body #highScoresContainer li:nth-child(5n + 2) {
  color: #374cac;
}

body #highScoresContainer li:nth-child(5n + 3) {
  color: #771272;
}

body #highScoresContainer li:nth-child(5n + 4) {
  color: #0c8383;
}

body #highScoresContainer li:nth-child(5n + 5) {
  color: #c78d22;
}

body #highScoresContainer li:nth-child(5n + 6) {
  color: #9c0707;
}

body #backToQuizBtn {
  display: none;
}

body #quizContainer {
  width: 50%;
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
}

body #quizContainer h2 {
  line-height: 1;
}

body #quizContainer #clock {
  font-size: 100%;
}

body #quizContainer div#quiz {
  display: none;
}

body #quizContainer div#quiz ol {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 50px;
}

body #quizContainer div#quiz ol li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
  margin: 0;
  line-height: 2;
  min-width: 280px;
}

body #quizContainer div#quiz ol li label {
  font-size: 100%;
  padding-left: 30px;
  text-align: left;
  line-height: 0.75;
  cursor: pointer;
}

body #quizContainer div#quiz ol li input[type="radio"] {
  margin: 20px;
  -webkit-transform: scale(2);
          transform: scale(2);
}

body #quizContainer div#scoreBoard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

body #quizContainer div#scoreBoard p#quizScore {
  padding: 10px;
  border: 8px dotted yellow;
  margin: 1.75em;
  -webkit-box-shadow: 0 0 0 15px #000, 0 0 0 25px yellow, 0 0 0 26px black;
          box-shadow: 0 0 0 15px #000, 0 0 0 25px yellow, 0 0 0 26px black;
  background-color: black;
  color: yellow;
  width: 100%;
}

body #quizContainer div#scoreBoard p#quizScore strong {
  min-width: 50px;
  font-size: 300%;
}

body #quizContainer div#scoreBoard .small {
  line-height: 0.65;
  font-size: 80%;
}

body #quizContainer div#buttonContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

body #quizContainer div#buttonContainer button#recordScore {
  display: none;
}

body #quizContainer form#recordScoreForm {
  display: none;
}

body #quizContainer form#recordScoreForm input[type="text"] {
  padding: 10px;
}

body #quizContainer form#recordScoreForm button {
  font-size: 68%;
  min-width: 75px;
}

body #quizContainer div#highScores {
  display: none;
}
/*# sourceMappingURL=styles.css.map */