* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Gidugu&display=swap");

body {
  font-family: "Gidugu", sans-serif;
  font-size: 28px;

  button {
    font-family: "Gidugu", sans-serif;
    min-width: 150px;
    font-size: 100%;
  }
  #highScoresContainer {
    width: 50%;
    margin: 0 auto;
    display: none;

    ol {
      li {
        display: flex;
        justify-content: space-between;
        align-items: center;

        p {
          min-width: 50px;
          text-align: center;
        }
      }
    }
    ol li:nth-child(1) {
      text-align: center;
    }
    li:nth-child(even) {
      background-color: rgb(245, 245, 245);
    }
    li:nth-child(5n + 2) {
      color: rgb(55, 76, 172);
    }
    li:nth-child(5n + 3) {
      color: rgb(119, 18, 114);
    }
    li:nth-child(5n + 4) {
      color: rgb(12, 131, 131);
    }
    li:nth-child(5n + 5) {
      color: rgb(199, 141, 34);
    }
    li:nth-child(5n + 6) {
      color: rgb(156, 7, 7);
    }
  }
  #backToQuizBtn {
    display: none;
  }
  #quizContainer {
    width: 50%;
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
    h2 {
      line-height: 1;
    }
    #clock {
      font-size: 100%;
    }
    div#quiz {
      display: none;

      ol {
        display: flex;
        flex-direction: column;
        align-items: center;

        padding-bottom: 50px;
        li {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          width: 100%;
          margin: 0;
          line-height: 2;
          min-width: 400px;

          label {
            font-size: 100%;
            padding-left: 30px;
            cursor: pointer;
          }
          input[type="radio"] {
            transform: scale(3);
          }
        }
      }
    }
    div#quizComplete {
      display: none;
      border: 1px solid red;
    }

    div#scoreBoard {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      margin-bottom: 20px;
      p#quizScore {
        padding: 10px;
        border: 8px dotted yellow;
        margin: 1.75em;

        box-shadow: 0 0 0 15px #000, 0 0 0 25px yellow, 0 0 0 26px black;

        background-color: black;
        color: yellow;
        width: 100%;
        strong {
          min-width: 50px;
          font-size: 300%;
        }
      }
      .small {
        line-height: 0.65;
        font-size: 80%;
      }
    }

    div#buttonContainer {
      display: flex;
      align-items: center;
      justify-content: space-around;

      button#recordScore {
        display: none;
      }
    }
    form#recordScoreForm {
      display: none;
      input[type="text"] {
        padding: 10px;
      }
      button {
        font-size: 68%;
        min-width: 75px;
      }
    }
    div#highScores {
      display: none;
    }
  }
}
