* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Gidugu&display=swap");

body {
  font-family: "Gidugu", sans-serif;
  font-size: 28px;

  button {
    font-family: "Gidugu", sans-serif;
    min-width: 150px;
    font-size: 100%;
  }
  #highScoresContainer {
    width: 50%;
    margin: 0 auto;
    display: none;

    ol {
      li {
        display: flex;
        justify-content: space-between;
        align-items: center;

        p {
          min-width: 50px;
          text-align: center;
        }
      }
    }
    ol li:nth-child(1) {
      // transform: scale(120%);
      text-align: center;
      text-decoration: underline;
    }
  }
  #backToQuizBtn {
    display: none;
  }
  #quizContainer {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    h2 {
      line-height: 1;
    }
    #clock {
      font-size: 100%;
    }
    div#quiz {
      display: none;

      ol {
        display: flex;
        flex-direction: column;
        align-items: center;

        padding-bottom: 50px;
        li {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          width: 100%;
          margin: 0;
          line-height: 2;

          label {
            font-size: 100%;
            padding-left: 30px;
            cursor: pointer;
          }
          input[type="radio"] {
            transform: scale(3);
          }
        }
      }
    }
    div#quizComplete {
      display: none;
      border: 1px solid red;
    }

    div#buttonContainer {
      display: flex;
      align-items: center;
      justify-content: space-around;
      div#scoreBoard {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
      }
      button#recordScore {
        display: none;
      }
    }
    form#recordScoreForm {
      display: none;
      input[type="text"] {
        padding: 10px;
      }
      button {
        font-size: 68%;
        min-width: 75px;
      }
    }
    div#highScores {
      display: none;
    }
  }
}
